# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
.mypy_cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Data & artifacts (kept local)
data/**
models/**
logs/**
submissions/**
!data/.gitkeep
!models/.gitkeep
!logs/.gitkeep
!submissions/.gitkeep

# Kaggle/temp
*.zip
*.tar.gz
*.tmp
